body {
  padding-top: 50px
  margin: 0;
  width: 100%;
  /*height: -50px;*/
  background: url(https://metrouk2.files.wordpress.com/2014/10/ad_149653507-e1414069912787.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

/*//image.tmdb.org/t/p/original/tbhdm8UJAb4ViCTsulYFL3lxMCd.jpg*/

.header {
  opacity: 0.5;
}

.centre {
  margin: 0 50%;
}

.showMT {
  margin: 0 100px;
  border: 1px solid white;
}

.showTrailers {
  border: 1px white: solid;
}

ul li {
  list-style: none;
}

.getMovies {
  margin: 40px 100px;
}

