/*font-family: 'Freckle Face', cursive;
font-family: 'Frijole', cursive;
font-family: 'Finger Paint', cursive;*/

body {
  font-family: 'Finger Paint', cursive;
  padding-top: 50px
  margin: 0;
  width: 100%;
  /*height: -50px;*/
  background: url(https://metrouk2.files.wordpress.com/2014/10/ad_149653507-e1414069912787.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: 'Finger Paint', cursive;
}

/*//image.tmdb.org/t/p/original/tbhdm8UJAb4ViCTsulYFL3lxMCd.jpg*/

.header {
  opacity: 0.5;
}

.centre {
  margin: 0 50%;
}

.back {
  margin: 0 40%;
}

.opacB {
  /*margin: 0 100px;
  border: 1px solid white;*/
  margin: 10px 0;
  background:linear-gradient(
   rgba(0, 0, 0, 0.8), 
   rgba(70, 70, 70, 0.8)
   ),
}

.showTrailers {
  border: 1px white: solid;
}

ul li {
  list-style: none;
}

.getMovies {
  margin: 40px 100px;
}

