<h2>We Love Trailers!</h2>

<p>this is the home page - will aim to show some random trailers</p>

<h4>Search for Movies and Trailers or take a look at some featured trailers below. </h4>

<a class="btn btn-info" href="/#/movies">Search</a>

<h3>Featured Trailers</h3>

<div ng-controller="trailersIndexCtrl as trailers">
  <ul>
  </ul>
</div>


<!-- <form ng-submit="movies.getMovies()">
  <div class="form-group">
  <input type="search" class="form-control" placeholder="search movies" name="movie search" ng-model="movies.query">

  </div>
  <div class="form-group">
    <button class="btn btn-info" type="submit">Search</button> 
  </div>
</form> -->


<!-- <form>
  <div class="form-group">
  <input type="search" class="form-control" placeholder="search trailers" name="trailer search">

  </div>
  <div class="form-group">
    <button class="btn btn-info" type="submit">Search</button> 
  </div>

</form> -->